<head>
  <title>Home</title>
</head>
<body>
  <%- include('partials/navbar.ejs') %>
  <h1>hola chicos desde ejs</h1>
  <h2>ejs es lo maximo</h2>
  <h2>Creado por: <%= nombre %></h2>
</body>
<style>
  body {
    background-color: #b4b4b4;
  }
</style>
