<!DOCTYPE html>
<html>
  <head>
    <title>Producto</title>
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <div class="producto">
      <h2><%= producto.nombre %></h2>
      <p>ID: <%= producto.id %></p>
      <p>Precio: $<%= producto.precio %></p>
    </div>
  </body>
</html>
