#section {
  background-color: beige;
  min-height: 300px;
  padding: 0.8rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  article {
    background-color: aqua;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
}

#product_container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

#product_card {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  h3 {
    font-size: 1.5rem;
    color: #333;
  }
  p {
    font-size: 1rem;
    color: #666;
  }
  button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
