html,
:root,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #f5b7b7;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  padding: 1rem;
  margin: 1rem auto;
  border: 2px solid #0c0808;
  border-radius: 0.75rem;
  font-size: 1.25rem;
}

.form-element {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin: 0 auto 1rem auto;
}

.form-element label {
  margin-bottom: 0.5rem;
}

.form-element input,
.form-element textarea {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(255, 0, 0);
  width: 100%;
  background-color: white;
}

.form-element input:hover,
textarea:hover {
  background-color: rgb(241, 206, 109);
}

.form-element input:focus,
textarea:focus {
  background-color: rgb(116, 241, 109);
  outline: none;
}

form button {
  width: 400px;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  background-color: #333;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  form button {
    width: 100%;
  }
  form {
    max-width: 100%;
    margin: 0.5rem;
  }
}
