.button-style {
  padding: 8px 12px;
  background-color: #64403e;
  color: white;
  border: 1px solid #593937;
  border-radius: 10px;
  text-decoration: none;
}

.button-style:hover {
  background-color: #3d2726;
  color: white;
}

.button-style:active {
  background-color: #3d2726;
  color: white;
}

.button-style:focus {
  background-color: #fb473d;
  color: white;
}

section {
  margin-top: 50px;
  border: 1px solid black;
  background-color: rgb(255, 218, 218);
  height: 500px;
}

div {
  border: 1px solid black;
  background-color: gray;
  color: white;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
